@model EditPasswordViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Change password";
}

<h2>Change password</h2>
<form method="post">
    <div class="form-group">
        <span asp-validation-for="@Model.CurrentPassword"></span>
        <label asp-for="@Model.CurrentPassword"></label>
        <input asp-for="@Model.CurrentPassword" type="password" />
    </div>
    <div class="form-group">
        <span asp-validation-for="@Model.NewPassword"></span>
        <label asp-for="@Model.NewPassword"></label>
        <input asp-for="@Model.NewPassword" type="password" />
    </div>
    <div class="form-group">
        <span asp-validation-for="@Model.NewPasswordConfirmation"></span>
        <label asp-for="@Model.NewPasswordConfirmation"></label>
        <input asp-for="@Model.NewPasswordConfirmation" type="password" />
    </div>
    <input type="submit" value="Confirm" />
</form>
