@model ForumSection

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add new section";
}

<form method="post">
    <div class="form-group">
        <div><span asp-validation-for="@Model.Name" class="text-danger"></span></div>
        <label asp-for="@Model.Name"></label><br />
        <input asp-for="@Model.Name" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="@Model.Description" class="text-danger"></span></div>
        <label asp-for="@Model.Description"></label><br />
        <input asp-for="@Model.Description" />
    </div>
    <input type="submit" value="Confirm" />
</form>