@model ArticleNewsViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Add news";
}

<h2>Add new article</h2>
<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <div><span asp-validation-for="@Model.Title"></span></div>
        <label asp-for="@Model.Title"></label><br />
        <input asp-for="@Model.Title" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="@Model.ContentText"></span></div>
        <label asp-for="@Model.ContentText"></label><br />
        <input asp-for="@Model.ContentText" type="text"/>
    </div>
    <div class="form-group">
        <label>Article image</label><br />
        <input asp-for="@Model.Image" type="file"/>
    </div>
    <input type="submit" value="Confirm" />

    @section Scripts {
    <script>
        document.ready(function () {
            document.getElementByClassName("custom-file-input").on("change", function () {
                let fileName = this.value.split("\\").pop()
                this.next('.custom-file-label').innerHTML = fileName
            })
        })
    </script>
    }
</form>